<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<body>
<h1>{{ question.title }}</h1>
<p>{{ question.text }}</p>
<ul>
{% for answer in question.answer_set.all %}
    <li>{{ answer.text }}</li>
{% endfor %}
</ul>
<br>
{% for e in form.non_field_errors %}
<div class="alert alert-danger">{{ e }}</div>
{% endfor %}
<form action="{% url 'qa:detail' question.id %}" method="post">
    {% csrf_token %}
    {{ form.as_ul }}
    <input type="submit" value="Add answer" />
</form>
</body>
</html>